:root {
    --color-white: #ffffff;
    --color-black: #0a0a0a;
  
    --color-red: #c1121f;
    --color-orange: #ff5c00;
  
    --color-dark: #121212;
  
    --color-light-gray: #f4f4f4;
    --color-medium-gray: #dddddd;
    --color-text: #1a1a1a;
  
    --container-width: 1200px;
  }